@charset "utf-8";

@font-face {
font-family:'Nanum Gothic';
font-weight:400;
src:url('/font/NanumGothic.eot');
src:url('/font/NanumGothic.eot?#iefix') format('embedded-opentype'),
url('/font/NanumGothic.woff') format('woff'),
url('/font/NanumGothic.ttf') format('truetype'),
url('/font/NanumGothic.svg#NanumGothic') format('svg');
src:local(※), url('/font/NanumGothic.woff') format('woff');
}

@font-face {
font-family:'Nanum GothicB';
font-weight:700;
src:url('/font/NanumGothicBold.eot');
src:url('/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
url('/font/NanumGothicBold.woff') format('woff'),
url('/font/NanumGothicBold.ttf') format('truetype'),
url('/font/NanumGothicBold.svg#NanumGothic') format('svg');
src:local(※), url('/font/NanumGothicBold.woff') format('woff');
}

@font-face {
font-family:'Nanum GothicE';
font-weight:700;
src:url('/font/NanumGothicExtraBold.eot');
src:url('/font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
url('/font/NanumGothicExtraBold.woff') format('woff'),
url('/font/NanumGothicExtraBold.ttf') format('truetype'),
url('/font/NanumGothicExtraBold.svg#NanumGothic') format('svg');
src:local(※), url('/font/NanumGothicExtraBold.woff') format('woff');
}


body {
/* 	font-family: "굴림", "Arial Unicode MS"; */
	font-family: '나눔고딕', NanumGothic, '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', Sans-serif;
	font-size: 10pt;
	text-decoration: none;
	background-color: rgba(255,255,255,1);
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration:none;
}

img{
	border:0;	
}

.btn{
	cursor:pointer;
}

.a_center{
	text-align:center;
}
.a_left{
	text-align:left;
}
.a_right{
	text-align:right;
}

.col10{width:10px;}
.col30{width:30px;}
.col50{width:50px;}
.col60{width:60px;}
.col70{width:70px;}
.col90{width:90px;}
.col100{width:100px;}
.col120{width:120px;}
.col150{width:150px;}
.col180{width:180px;}
.col200{width:200px;}
.col210{width:210px;}
.col300{width:300px;}
.col400{width:400px;}
.col500{width:500px;}
.col600{width:600px;}

.wrap {	
	background-color: rgba(255,255,255,1);
	width: 1280px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.container {	
	width: 1024px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 128px;
}
.container:after{
	content:'';
	display:block;
	clear:both;	
}
#logInfo{
	float: right;
	background-image: url(../images/01_top_menu.png);
	background-repeat:no-repeat;
	margin: 0px 80px 0px 0px;
	padding:0px;
	width:255px;
	height:21px;
}
#logInfo a img{
	float: left;
	margin:0px;
	padding:0px;
}
#loginInfo{
 width:78px; 
 height:21px; 
 padding-top:5px; 
 font-weight:bold;
 float: left;
 text-align:right
}
.top {
	float: left;
	margin: 24px 0px 0px 0px ;
	padding: 0px;
	height: 110px;
	width: 1024px;
}
.logo {
	background-image: url(../images/01_top_logo.png);
	background-repeat:no-repeat;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 246px;
	height:63px;
}
.menu {
	float: left;
	width:778px;
}
.menu #menu_top{
	margin-top: 20px;
	margin-left: 20px;		
}
.menu #menu_top ul {
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
}
.menu #menu_top ul li{
	float: left;
	margin-top: 0px;
	margin-left: 55px;
}
.menu #menu_sub{
	margin-top: 42px;
	margin-left: 20px;		
}
.menu #menu_sub ul {
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
}
.menu #menu_sub ul li{
	float: left;
	margin-top: 0px;
	margin-left: 40px;
}

#menu_sub ul li div {
	cursor:pointer;
	float:left;
	height:14px;	
	margin-top:18px;
	margin-left:25px;
	background-repeat:no-repeat;
}

/*	Menu1*/
.menu #menu_sub ul .menu_01_subLi {
	display:none;
	width:492px;
	height:39px;
	background-image: url(../images/menu/01_top_menu01_sub_bg.png);
	background-repeat:no-repeat;
}
#menu_sub01_01 {
	width:74px;
	
	background-image: url(../images/menu/01_sub01_01.png);	
	background-repeat:no-repeat;
}
#menu_sub01_02 {
	width:61px;
	background-image: url(../images/menu/01_sub01_02.png);	
	background-repeat:no-repeat;
}
#menu_sub01_03 {
	width:61px;;
	background-image: url(../images/menu/01_sub01_03.png);	
	background-repeat:no-repeat;
}
#menu_sub01_04 {
	width:74px;;
	background-image: url(../images/menu/01_sub01_04.png);	
	background-repeat:no-repeat;
}
#menu_sub01_05 {
	width:74px;;
	background-image: url(../images/menu/01_sub01_05.png);
	background-repeat:no-repeat;
}

/*	Menu2*/
.menu #menu_sub ul .menu_02_subLi {
	display:none;	
	width:412px;
	height:39px;
	margin-left:200px;
	background-image: url(../images/menu/01_top_menu02_sub_bg.png);
	background-repeat:no-repeat;
}
#menu_sub02_01 {
	width:49px;
	background-image: url(../images/menu/01_sub02_01.png);	
	background-repeat:no-repeat;
}
#menu_sub02_02 {
	width:49px;
	background-image: url(../images/menu/01_sub02_02.png);	
	background-repeat:no-repeat;
}
#menu_sub02_03 {
	width:74px;
	background-image: url(../images/menu/01_sub02_03.png);	
	background-repeat:no-repeat;
}
#menu_sub02_04 {
	width:49px;
	background-image: url(../images/menu/01_sub02_04.png);	
	background-repeat:no-repeat;
}
#menu_sub02_05 {
	width:49px;
	background-image: url(../images/menu/01_sub02_05.png);
	background-repeat:no-repeat;
}

/*	Menu3*/
.menu #menu_sub ul .menu_03_subLi {
	display:none;
	width:212px;
	height:39px;
	margin-left:360px;
	background-image: url(../images/menu/01_top_menu03_sub_bg.png);
	background-repeat:no-repeat;
}
#menu_sub03_01 {
	width:49px;
	background-image: url(../images/menu/01_sub03_01.png);	
	background-repeat:no-repeat;
}
#menu_sub03_02 {
	width:93px;
	background-image: url(../images/menu/01_sub03_02.png);	
	background-repeat:no-repeat;
}

/*	Menu4*/
.menu #menu_sub ul .menu_04_subLi {
	display:none;
	width:522px;
	height:39px;
	margin-left:190px;
	background-image: url(../images/menu/01_top_menu04_sub_bg.png);
	background-repeat:no-repeat;
}
#menu_sub04_01 {
	width:127px;
	background-image: url(../images/menu/01_sub04_01.png);	
	background-repeat:no-repeat;
}
#menu_sub04_02 {
	width:114px;
	background-image: url(../images/menu/01_sub04_02.png);	
	background-repeat:no-repeat;
}
#menu_sub04_03 {
	width:173px;
	background-image: url(../images/menu/01_sub04_03.png);	
	background-repeat:no-repeat;
}

/*	Menu5*/
.menu #menu_sub ul .menu_05_subLi {
	display:none;
	width:422px;
	height:39px;
	margin-left:300px;
	background-image: url(../images/menu/01_top_menu05_sub_bg.png);
}
#menu_sub05_01 {
	width:49px;
	background-image: url(../images/menu/01_sub05_01.png);
}
#menu_sub05_02 {
	width:49px;;
	background-image: url(../images/menu/01_sub05_02.png);	
}
#menu_sub05_03 {
	width:61px;
	margin-top:17px;
	background-image: url(../images/menu/01_sub05_03.png);	
}
#menu_sub05_04 {
	width:61px;
	background-image: url(../images/menu/01_sub05_04.png);	
}
#menu_sub05_05 {
	width:61px;
	background-image: url(../images/menu/01_sub05_05.png);
}
.footer_bg {
	background-color:#fcb040;
	height: 85px;
	margin: -85px 0 0 0;
}
.footer {
	background-image: url(../images/footer/01_footer_bg.png);
	background-repeat:no-repeat;
	height:85px;
	width: 1024px;
	margin: 0px;
	float: left;
}
#footer_group{
	float: left;
	margin-top:22px;
	margin-left:140px;
	width:860px;
	height:25px;
	padding-top:2px;
}
#footer_left {
	background-image: url(../images/footer/01_footer_left.png);
	background-repeat:no-repeat;
	float: left;
	margin-top:-2px;
	height: 20px;
	width: 12px;
}
#footer_right {
	background-image: url(../images/footer/01_footer_right.png);
	background-repeat:no-repeat;
	height: 20px;
	margin-top:-17px;
	width: 12px;
	float: right;

}
#footer_slide {
	height: 15px;
	width: 800px;
	margin-left:20px;
	overflow: hidden;
	position: relative;	
}

#footer_slideConteiner {
	width: 4000px;
	position: absolute;
	margin-left:-1350px;
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	-o-transition: all 1.0s ease-in-out;
}
#footer_slideConteiner img {
	float: left;
	margin-top: 2px;
	margin-left: 30px;	
}




.contents {
	float:left;
	width: 1024px;
	margin: 0 auto;	
}

.header_bg {
	float:left;	
	background-repeat:no-repeat;
	height: 182px;
	width: 1280px;
	margin-top: -15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: -128px;
}

.header_img {
	float:left;	
/*	background-color: #e7f2fa;	*/
/*	background-image: url(../images/sub/02_bg01.png);*/
	background-repeat:no-repeat;
	height: 182px;
	width: 1024px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 128px;
}
.navi {
	background-color: rgba(255,255,255,1);
	float: left;
	height: 23px;
	width: 1024px;
	margin: 0px;
}
.navi .navigator {
	color:#60564b;
	float: right;
	text-align: right;
	margin-top: 0px 100px 0px 0px;
	padding-top:9px;
	line-height: 20px;
}

.navi .navigator .navi_menu2 {
	color: rgba(233,135,63,1);
	font-weight:bold;
}
.cont {
	margin: 0px;
	float: left;
	width: 1024px;
}
.cont .left_menu {
	background-color: rgba(255,255,255,1);
	margin: 0px;
	float: left;
	width: 188px;
}

/* left */
.selectedMenu {
	background-image: url();
	background-repeat: no-repeat;
	float:left;
	height: 14px;
	width: 14px;
	margin-top: 16px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.left_menu ul {
	padding: 0px;
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
}
.left_menu ul li{
	loat:left;
	margin: 10px 0px 0px 0px;
}


#left_menu_01{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 188px;
	display:none;
}

.left_menu_title_01 {
	background-image: url(../images/sub/menu/02_menu_01.png);
	background-repeat:no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	float: right;
	width: 188px;
	height:33px;
}
#left_menu_sub01_01 {
	background-image: url(../images/sub/menu/02_menu_01_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub01_02 {
	background-image: url(../images/sub/menu/02_menu_01_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub01_03 {
	background-image: url(../images/sub/menu/02_menu_01_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub01_04 {
	background-image: url(../images/sub/menu/02_menu_01_04.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub01_05 {
	background-image: url(../images/sub/menu/02_menu_01_05.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}



#left_menu_02{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 188px;
	display:none;
}

.left_menu_title_02 {
	background-image: url(../images/sub/menu/02_menu_02.png);
	background-repeat:no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	float: right;
	width: 188px;
	height:33px;
}
#left_menu_sub02_01 {
	background-image: url(../images/sub/menu/02_menu_02_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub02_02 {
	background-image: url(../images/sub/menu/02_menu_02_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub02_03 {
	background-image: url(../images/sub/menu/02_menu_02_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub02_04 {
	background-image: url(../images/sub/menu/02_menu_02_04.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub02_05 {
	background-image: url(../images/sub/menu/02_menu_02_05.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 30px 10px;
}



#left_menu_03{
	display:none;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 188px;
	display:none;
}
.left_menu_title_03 {
	background-image: url(../images/sub/menu/02_menu_03.png);
	background-repeat:no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	float: right;
	width: 188px;
	height:33px;
}
#left_menu_sub03_01 {
	background-image: url(../images/sub/menu/02_menu_03_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 115px;
	margin: 16px 0px 0px 10px;
}
#left_menu_sub03_02 {
	background-image: url(../images/sub/menu/02_menu_03_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 115px;
	margin: 16px 0px 30px 10px;
}


#left_menu_04{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 188px;
	display:none;
}
.left_menu_title_04 {
	background-image: url(../images/sub/menu/02_menu_04.png);
	background-repeat:no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	float: right;
	width: 188px;
	height:33px;
}
#left_menu_sub04_01 {
	background-image: url(../images/sub/menu/02_menu_04_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 35px;
	width: 115px;
	margin: 16px 0px 0px 10px;
}
#left_menu_sub04_02 {
	background-image: url(../images/sub/menu/02_menu_04_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 35px;
	width: 115px;
	margin: 16px 0px 0px 10px;
}
#left_menu_sub04_03 {
	background-image: url(../images/sub/menu/02_menu_04_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 35px;
	width: 115px;
	margin: 16px 0px 30px 10px;
}

#left_menu_05{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 188px;	
	display:none;	
}
.left_menu_title_05 {
	background-image: url(../images/sub/menu/02_menu_05.png);
	background-repeat:no-repeat;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	float: right;
	width: 188px;
	height:33px;
}

#left_menu_sub05_01 {
	background-image: url(../images/sub/menu/02_menu_05_01.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub05_02 {
	background-image: url(../images/sub/menu/02_menu_05_02.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub05_03 {
	background-image: url(../images/sub/menu/02_menu_05_03.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub05_04 {
	background-image: url(../images/sub/menu/02_menu_05_04.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 0px 10px;
}
#left_menu_sub05_05 {
	background-image: url(../images/sub/menu/02_menu_05_05.png);
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	width: 90px;
	margin: 16px 30px 30px 10px;
}
/*  //left */

.cont .con_body {
	padding: 0px;
	float: left;
	width: 777px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 33px;
	min-height: 600px;
}

.requireText{border-color:orange;}
